@font-face {
    font-family: 'Figtree';
    src: local('Figtree ExtraBold'), local('Figtree-ExtraBold'),
        url('../fonts/static/Figtree-ExtraBold.woff2') format('woff2'),
        url('../fonts/static/Figtree-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: local('Figtree SemiBold'), local('Figtree-SemiBold'),
        url('../fonts/static/Figtree-SemiBold.woff2') format('woff2'),
        url('../fonts/static/Figtree-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-weight: 500 800;
        font-family: "Figtree";
        font-stretch: 50% 200%;
        src: local('Figtree Light'), local('Figtree-Light'),
            url("../fonts/Figtree-Light.woff2") format(woff2) tech(variations),
            url("../fonts/Figtree-Light.woff2") format("woff2-variations");
    }
}